{% load static %}

{% for message in messages %}
<div id='lower-side'>
  <p id='message'>{{ message }}</p>
  {% endfor %}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>{% block title %} JosepDam Real Estate Limited{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">   
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'assets/images/LOGO.png' %}" width="105" height="40"/></a>
          <!-- <a class="navbar-brand" href="{% url 'home'%}"><h2><em>Real Estate</em></h2></a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home'%}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'about' %}">About Us</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Team</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'director' %}">Board Of Directors</a>
                    <a class="dropdown-item" href="{% url 'team' %}">Our Teams</a>
                </div>
              </li>

              <li clas  s="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
              </li>

              <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>
                    <a class="dropdown-item" href=" ">Properties</a>
                </div>
              </li>
              
              <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
                <div class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'signup' %}">Sign up</a>
                        <a class="dropdown-item" href="{% url 'login_user' %}">Login</a>
                    {% endif %}

                      <!-- Add the authentication status snippet here -->
                </div>
            </li>
            
            
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!--The slida head in about page-->
   

    {% block content %}



    {% endblock %}
    
    <!-- Footer Starts Here -->
    <footer> 
        <div class="container">
          <div class="row">
            <div class="col-md-3 footer-item">
              <a href=" "><h4>JosepDam Real Estate Limited</h4></a>
              <p>Real estate is an imperishable asset, ever increasing in value.</p>
              <ul class="social--icons">
                <li><a rel="nofollow" href="https://accountscenter.instagram.com/profiles/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61557607804689"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/Josepdamreal"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/josepdam-real-estate-801810300/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="col-md-3 footer-item">
              <a href=" "><h4>Website Links</h4><a/>
              <ul class="menu-list">
                <li><a href="https://twitter.com/Josepdamreal">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/josepdam-real-estate-801810300/">Linkedin</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61557607804689">Facebook</a></li>
                <li><a href="https://accountscenter.instagram.com/profiles/">Instagram</a></li>
                <li><a href="https://wa.me/+2348106941149?text=Hi JosepDam ?">Whatsapp Us</a></li>
              </ul>
            </div>
            <div class="col-md-3 footer-item">
              <a href="{% url 'signup' %}"><h4>Additional Pages</h4></a>
              <ul class="menu-list">
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'team' %}">Our Team</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'signup' %}">Register with Us</a></li>
              </ul>
            </div>
            <div class="col-md-3 footer-item last-item">
                <a href=" "><h4>JosepDam Link Loading</h4><a/>
                <ul class="menu-list">
                  <li><a href="https://wa.me/+2348106941149?text=Hi JosepDam ?">Whatsapp Us</a></li>
                  <li><a href="https://maps.app.goo.gl/uNNsbrMFuA9V3HN36">Google Map</a></li>
                  <li><a href="mailto:info@josepdam.com">Gmail Us/Info  </a></li>
                  <li><a href="https://accountscenter.instagram.com/profiles/">Instagram</a></li>
                </ul>
            </div>
          </div>
        </div>
      </footer>
      
      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>
                  Copyright © 2024 JosepDam Real Estate
                  - Created by: <a href="https://udsen.pythonanywhere.com/">Senwin</a>
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
      <!-- Additional Scripts -->
      <script src="{% static 'assets/js/custom.js' %}"></script>
      <script src="{% static 'assets/js/owl.js' %}"></script>
      <script src="{% static 'assets/js/slick.js' %}"></script>
      <script src="{% static 'assets/js/accordions.js' %}"></script>
  
      <script language = "text/Javascript"> 
        cleared[0] = cleared[1] = cleared[2] = 0; 
        function clearField(t){                
        if(! cleared[t.id]){                    
            cleared[t.id] = 1;  
            t.value='';      
            t.style.color='#fff';
            }
        }
      </script>
  
    </body>
  </html>