{% extends "base.html" %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block content%}

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About Us</h1>
            <span>We Have Over 15 Years of Experience The Back Story of JosepDam Real Estate & Property.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <h4>Akinwale Akinpelu-<em>ANIVS,RSV</em></h4>
                    <span>Property & Facility Manager</span>
                    <p>JosepDam real estate is known to yield higher returns than residential real estate. If you can afford to manage a property space, it can prove lucrative over time, depending on your area. The value of commercial real estate is determined in part by how much revenue it generates.
                    <br><br>To undertake property development and redevelopment. To provide high quality, comfortable commercial and residential units in various parts of the country. To provide property consultancy services to both private and public sectors.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{% static 'assets/images/Akinpelu.jpg' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>The JosepDam Real Estate </span>
              <h3>Fundamentals,<em>Challenges And Creative property</em></h3><br>
              <p>There is a lot of real estate on habitable exo-planets around other stars. Rather than compete for the limited territory on our rock, the Earth, we better explore new territories in interstellar space.
              <br><br>Investing entails acquiring, holding, and selling rights to real property in the hopes of generating a favorable rate of return. </p>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">124</div>
                  <div class="count-title">Properties</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">280</div>
                  <div class="count-title">Happy clients</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">8</div>
                  <div class="count-title">Cities</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">5</div>
                  <div class="count-title">offices</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}