{% extends "base.html" %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block content%}

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About Us</h1>
            <span>We Have Over 15 Years of Experience The Back Story of JosepDam Real Estate & Property.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <h4>Akinwale Akinpelu-<em>ANIVS,RSV</em></h4>
                    <span>Property & Facility Manager</span>
                    <p>JosepDam real estate is known to yield higher returns than residential real estate. If you can afford to manage a property space, it can prove lucrative over time, depending on your area. The value of commercial real estate is determined in part by how much revenue it generates.
                    <br><br>To undertake property development and redevelopment. To provide high quality, comfortable commercial and residential units in various parts of the country. To provide property consultancy services to both private and public sectors.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{% static 'assets/images/Akinpelu.jpg' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Lorem ipsum dolor sit amet</span>
              <h2>Modi esse sapiente tenetur <em>impedit laudantium laborum</em></h2>
              <p>Pellentesque ultrices at turpis in vestibulum. Aenean pretium elit nec congue elementum. Nulla luctus laoreet porta. Maecenas at nisi tempus, porta metus vitae, faucibus augue. 
              <br><br>Fusce et venenatis ex. Quisque varius, velit quis dictum sagittis, odio velit molestie nunc, ut posuere ante tortor ut neque.</p>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">1234</div>
                  <div class="count-title">Properties</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">2280</div>
                  <div class="count-title">Happy clients</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">15</div>
                  <div class="count-title">Cities</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">14</div>
                  <div class="count-title">offices</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}