{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.title }} {% endblock %}
{% block content%}

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1> <small><del></small> <sup>$</sup>{{ object.price }}</h1>
            <span>{{ object.location }}</span><br>
            <a href="https://www.google.com/maps/place/Lekki,+Lagos/@6.5121641,3.4452182,10z/data=!3m1!4b1!4m6!3m5!1s0x103bf75df5c74367:0x6a7e7df9d6c1cd4a!8m2!3d6.4698419!4d3.5851718!16s%2Fm%2F012fxlwm?entry=ttu" class="btn btn-blue">Click Map For Location</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div>
              {% if object.img %}
              <img src="{{ object.img.url }}" alt="" class="img-fluid wc-image">
              {% endif %}
            </div> <br>
          </div>
        </div> <br>
        <div class="tabs-content" style="display: block;">
          <h4>{{ object.title }}</h4>
          <p>{{ object.description|truncatechars:9000 }}</p>
        </div> <hr>
        <span>
           <a href="{% url 'home' %}" class="btn btn-primary"><i class="fa fa-angle-left">Back</i></a>
           <a href="{% url 'contact' %}" class="btn btn-primary"y">Contact</a>
            <small>Posted: </small> {{ object.publish_date }} 


          {% if request.user.is_authenticated %}
            {% if request.user in object.like_set.all %}
              <form action="{% url 'like-post' post_id=object.id %}" method="post">
               {% csrf_token %}
               <button type="submit">Unlike</button>
            </form>
            
          {% else %}
            <form action="{% url 'like-post' post_id=object.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Like</button
            </form>
          {% endif %}
        {% endif %}

          <!-- Display like count -->
          <p>Likes: {{ object.like_set.count }}</p>
        </span>
          <div class="col-lg-3">
            <div class="tabs-content">
              <h4><small>Posted by: {{object.author}}</small></h4>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>



{% endblock %}