{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.worker_name }} {% endblock %}
{% block content%}

    <!-- Page Content -->
    <div class="page-headinggg header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1> <small><del></small> <sup>$</sup>{{ object.price }}</h1>
              <span>{{ object.location }}</span>
            </div>
          </div>
        </div>
      </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div>
              {% if object.board_of_director_img %}
              <img src="{{ object.board_of_director_img.url }}" alt="" class="img-fluid wc-image">
              {% endif %}
            </div> <br>
          </div>
        </div> <br>
        <div class="tabs-content" style="display: block;">
          <h3>{{ object.board_of_director_name }}</h3>
          <h6>{{ object.board_of_director_position }}</h6><br>
          <p>{{ object.board_of_director_description|truncatechars:9000 }}</p>
        </div> <hr>
        <span> 
           <a href="{% url 'team' %}" class="btn btn-secondary"><i class="fa fa-angle-left">Back</i></a>
            <small>Posted: </small> {{ object.publish_date }} 
        </span>
          <div class="col-lg-3">
            <div class="tabs-content">
              <h4><small>Posted by: {{object.author}}</small></h4>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>



{% endblock %}