{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.title }} {% endblock %}
{% block content%}

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

              <h3> <small><del></small> <sup></sup>{{ object.rent }}Sqft</h3>
            <h2> <small><del></small> <sup></sup>{{ object.price }}Sqft</h2>
            <span>{{ object.location }}</span><br>
            <a href="https://www.google.com/maps/place/19+Fatai+Atere+Way,+Papa+Ajao,+Lagos+102215,+Lagos/@6.5426072,3.346583,17z/data=!3m1!4b1!4m6!3m5!1s0x103b8ddcceb1bde9:0x7414a521bcbf2a78!8m2!3d6.5426072!4d3.3491579!16s%2Fg%2F11c2cl8dnh?entry=ttu" class="btn btn-blue">Click Map For Location</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div>
              {% if object.img %}
              <img src="{{ object.img.url }}" alt="" class="img-fluid wc-image">
              {% endif %}
            </div> <br>
          </div>
        </div> <br>
        <div class="tabs-content" style="display: block;">
          <h4>{{ object.title }}</h4>
          <p>{{ object.description|truncatechars:9000 }}</p>
        </div> <hr>
        <span>
           <a href="{% url 'home' %}" class="btn btn-primary"><i class="fa fa-angle-left">Back</i></a>
           <a href="{% url 'contact' %}" class="btn btn-primary"y"><small>Contact </small></a>
            <small> Posted:&nbsp;|&nbsp; </small> {{ object.publish_date }}|


          {% if request.user.is_authenticated %}
            {% if request.user in object.like_set.all %}
              <form action="{% url 'like-post' post_id=object.id %}" method="post">
               {% csrf_token %}
               <button type="submit">Unlike</button>
            </form>
            
          {% else %}
            <form action="{% url 'like-post' post_id=object.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Like</button
            </form>
          {% endif %}
        {% endif %}

          <!-- Display like count -->
          <p>Likes: {{ object.like_set.count }}</p>
        </span>
          <div class="col-lg-3">
            <div class="tabs-content">
              <h4><small>Posted by: {{object.author}}</small></h4>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>



{% endblock %}