{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{% block content%}


    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ object.title }}</h1>
            <span>Posted:<i class="fa fa-user"></i> {{ object.author }} &nbsp;|&nbsp; <i class="fa fa-calendar"></i> {{ object.publish_date }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="more-info-content">
          <div class="right-content">
            <div>
              {% if object.img %}
              <img src="{{ object.img.url }}" class="img-fluid" alt="">
              {% endif %}
            </div>
            <br>
            <p> {{ object.description |truncatechars:9000}} </p>
          </div>
          <span> <a href="{% url 'blog' %}" class="btn btn-primary"><i class="fa fa-angle-left">Back</i>
              </a>&nbsp;| Posted: <i class="fa fa-user"></i> {{ object.author }} &nbsp;|&nbsp; <i class="fa fa-calendar"></i>
             {{ object.publish_date }}</span>
        </div><br>
      </div>
    </div>
            <!-- Something can go in here senwin-->
      </div>
    </div>
    

   
    {% endblock %}