{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.title }}{% endblock %}
{% block content%}


    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>{{ object.title }}</h2><br>
            <span>Posted: <i class="fa fa-user"></i> {{ object.author }} &nbsp;|&nbsp; <i class="fa fa-calendar"></i> {{ object.publish_date }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="more-info-content">
          <div class="right-content">
            <div>
              {% if object.img %}
              <img src="{{ object.img.url }}" class="img-fluid" alt="">
              {% endif %}
            </div>
            <br>
            <p> {{ object.description |truncatechars:9000}} </p>
          </div>
          <span> <a href="{% url 'blog' %}" class="btn btn-info"><i class="fa fa-angle-left">Back</i>
              </a>&nbsp;| Posted by: <i class="fa fa-user"></i> {{ object.author }} &nbsp;|&nbsp; <i class="fa fa-calendar"></i>
             {{ object.publish_date }}</span>
        </div><br>
      </div>
    </div>
            <!-- Something can go in here senwin-->
      </div>
    </div>

    <div id="map">

      <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=LAGOS+(asiness%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Calculate population in area</a></iframe></div>
  </div> 
    

   
    {% endblock %}