{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{% block content%}

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Read our Blog</h1>
            <span>Lorem ipsum dolor sit amet consectetur</span>
          </div>
        </div>
      </div>
    </div>

    <div class="single-services">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <section class='tabs-content'>
              {% for post in object_list %} 

              <article id='tabs-2'>
                <a href="{% url 'detail' post.pk %}">
                {% if post.img %}
                <img src="{{ post.img.url }}" alt="">
                {% endif %}
              </a>
              <h4><a href="{% url 'detail' post.pk %}">{{ post.title|truncatechars:30 }}</a></h4>
                <div style="margin-bottom:10px;">
                  <span>Posted by: {{post.author}}&nbsp;|&nbsp; {{ post.publish_date }} &nbsp;|&nbsp;<span>
                </div>
                <p>{{ post.description|truncatechars:150 }}</p>
                <br>
                <div>
                  <a href="{% url 'detail' post.pk %}" class="filled-button">Continue Reading</a>
                </div><br>
              </article>
              {% endfor %}
            </section>
          </div>

        </div>
      </div>
    </div>

    <br>  
    <br>  
    <br>  
  
    {% endblock %}