{% extends "base.html" %}
{% load static %}
{% block title %} Josepdam Boad of Director {% endblock %}
{% block content %}
  
       

    <!-- Team Director Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Directors</h1>
            <span>Our professional Boad of Director members</span>
          </div>
        </div>
      </div>
    </div>

    <div class="team" style="margin: 0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Board Of Director <em>members</em></h2>
              <span>Our professional Board</span>
            </div>
          </div>
          {% for post in object_list %}
          <div class="col-md-4">
            <div class="team-item">
              <a href="{% url 'detail-director' post.pk %}">
                {% if post.board_of_director_img %}
                <img src="{{ post.board_of_director_img.url }}" height="260px" alt="The picture of board">
                {% endif %}
              </a>
              <div class="down-content">
                <a href="{% url 'detail-director' post.pk %}"><h4>{{ post.board_of_director_name |truncatechars:19}}</h4></a>
                <hr>
                <span>{{ post.board_of_director_position }}</span>
                <p>{{ post.board_of_director_description |truncatechars:55}}</p>
                <p>
                  <a href="{% url 'detail-director' post.pk %}" class="filled-button">Read More</a
                  
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    

    {% endblock %}
   