{% extends "base.html" %}
{% load static %}

{% block content%}
    
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
              <div class="text-content">
                <h6>The Josepdam Real Estate Limited </h6>
                <h6> Genuine Confidence !</h6>
              </div>
            </div>
          </div>
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill"> 
              <div class="text-content">
                <h6>Empathy in Commercial Real Estate</h6>
                <h6> Walking in our Client's shoe !</h6>
              </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Challenges And Creative Financing In</h6>
                  <h6> A Familiar Real Estate Landscape !</h6>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Request a call back right now </h4>
            <span>The world is moved not only by the mighty shoves of the heroes.</span>
          </div>
          <div class="col-md-4">
            <a href="{% url 'contact' %}" class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>



    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Featured <em>Properties</em></h2>
              <span>Josepdam Real estate is a lucrative venture that involves purchasing undervalued properties</span>
            </div>
          </div>

          {% for post in object_list %}
          <div class="col-md-4">
            <div class="service-item">
              <a href="{% url 'detail' post.pk %}">
                {% if post.img %}
                <img src="{{ post.img.url }}" alt="">
                {% endif %}
              </a>
              <div class="down-content">
                <h4>
                  <a href="{% url 'detail' post.pk %}">{{ post.title|truncatechars:16 }}</a>
                </h4>
                <p>{{ post.description|truncatechars:55 }}</p>
                <a href="{% url 'detail' post.pk %}" class="filled-button">View More</a>
              </div>
            </div>
            <br>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>



    <div class="fun-facts">
      <div class="container">
        <div class="more-info-content">
          <div class="row">
            <div class="col-md-6">
              <a href="{% url 'about' %}">
              <div class="left-image">
                <img src="{% static 'assets/images/scott.jpg' %}" class="img-fluid" alt="">
              </div>
            </a>
            </div>
            <div class="col-md-6 align-self-center">
              <div class="right-content">
                <span>Who we are</span>
                <h2>Get to know about <em>our company</em></h2>
                <p>It's far better to buy a wonderful property at a fair price than a fair property at a wonderful price. The only competitive advantage we have is the culture and values of the company</p>
                <a href="{% url 'about' %}" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="more-info">
      <div class="container">
        <div class="section-heading">
          <h2>Read our <em>Blog</em></h2>
          <span>Find Trending Topics to Use as Reference for Your properties. On your main blog page...</span>
        </div>
        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li><a href='#tabs-1'>Real estate is an imperishable asset, ever increasing in value. It is the most solid security that the investor can acquire</a></li>
              <li><a href='#tabs-2'>Real estate is a long-term game. Don't try to get rich quick. Instead, focus on buying properties</sm</a></li>
            </ul>
            <br>
            <div class="text-center">
              <a href="blog.html" class="filled-button">Read More</a>
            </div>
            <br>
          </div>

          <div class="col-md-8">
            <section class='tabs-content'>
              <a href="{% url 'blog' %}">
              <article id='tabs-1'>
                <img src="{% static 'assets/images/blog-image-1-940x460.jpg' %}" alt="">
              </a>
                <h4><a href="{% url 'blog' %}">Thinking Of Buying a Rental Property delegate With Good Secrity.</a></h4>
                <p>Buy land, they’re not making it anymore you are not buying a house, you are buying a lifestyle. Real estate cannot be lost or stole Real estate is an imperishable asset, ever
                   increasing in value. It is the most solid security that human ingenuity has devised</p>
              </article><br>
              <a href="{% url 'blog' %}">
              <article id='tabs-2'>
                <img src="{% static 'assets/images/good.jpg' %}" alt="">
              </a>
                <h4><a href="{% url 'blog' %}">Land, improvements or natural resources</a></h4>
                <p>Buy on the fringe and wait. Buy land near a growing city! Buy real estate when other people want to sell. Hold what you buy, A real estate agent has property listings.</p>
              </article><b><br>
            </section>
          </div>
        </div>
      </div>
    </div>

{% endblock %}