{% extends "base.html" %}
{% load static %}
{% block title %} Josepdam Teams {% endblock %}
{% block content %}
  
       

    <!-- Team Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2></h2>
            <span> </span>
          </div>
        </div>
      </div>
    </div>

    <div class="team" style="margin: 0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our <em>Team</em></h2>
              <b><p>We have a team of experienced personnel that have the responsibilities to render top notch services to our clients, and we are committed to ensuring that our clients get the best values of their investments at every of their business dealings with us.

                Our fantastic team is led by our amazing Chairman and Board of Directors, professionals with many years of experiences in rendering Real Estate Services and have gathered skills and competencies through several practical engagements over the years.
              </p></b>
            </div>
          </div>
          {% for post in object_list %}
          <div class="col-md-4">
            <div class="team-item">
              <a href="{% url 'detail-team' post.pk %}">
                {% if post.worker_img %}
                <img src="{{ post.worker_img.url }}" height="250px" alt="">
                {% endif %}
              </a>
              <div class="down-content">
                <a href="{% url 'detail-team' post.pk %}"><h4>{{ post.worker_name |truncatechars:20}}</h4></a><hr>
                <span>{{ post.worker_position }}</span>
                <p>{{ post.worker_description |truncatechars:55}}</p>
                <p>
                  <a href="{% url 'detail-team' post.pk %}" class="filled-button">Read More</a
                </p>
              </div>
            </div>
            <br>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    

    {% endblock %}
   