{% extends "base.html" %}
{% load static %}
{% block title %} Josepdam Teams {% endblock %}
{% block content %}
  
       

    <!-- Team Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Team</h1>
            <span>Our professional team members</span>
          </div>
        </div>
      </div>
    </div>

    <div class="team" style="margin: 0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our team <em>members</em></h2>
              <span>Suspendisse a ante in neque iaculis lacinia</span>
            </div>
          </div>
          {% for post in object_list %}
          <div class="col-md-4">
            <div class="team-item">
              <a href="{% url 'detail-team' post.pk %}">
                {% if post.worker_img %}
                <img src="{{ post.worker_img.url }}" alt="">
                {% endif %}
              </a>
              <div class="down-content">
                <a href="{% url 'detail-team' post.pk %}"><h4>{{ post.worker_name |truncatechars:25}}</h4></a>
                <span>{{ post.worker_position }}</span>
                <p>{{ post.worker_description |truncatechars:55}}</p>
                <p>
                  <a href="{% url 'detail-team' post.pk %}" class="filled-button">Read More</a
                  <a href="#"><span><i class="fa fa-linkedin"></i></span></a>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    

    {% endblock %}
   